#player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: linear-gradient(0deg, rgb(20, 20, 20), rgb(146, 67, 67));

    width: clamp(400px, 30%, 600px);
    height: 100vh;
}

#player-cover {
    width: 50%;
    border-radius: 10px;
}