@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
    background-color: black;
    color: white;

    font-family: "Noto Sans", Arial, Helvetica, sans-serif;

    height: 100vh;
    margin: 0;

    overflow: hidden;
}

h2 {
    color: rgb(200, 200, 200);
    font-size: 20px;
    font-weight: normal;
}

img {
    pointer-events: none;
}